{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Meu Perfil</title>
    <script type="text/javascript" src="{% static 'profiles/profiles_my.js'%}"></script>
    <link rel="stylesheet" href="{% static 'profiles/profiles_my.css' %}">
{% endblock %}

{% block body %}
<!-- HEADER -->
<header id="header" class="sticky-xl-top">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-dark justify-content-between">
      <div class="row">
        <div class="col">
          <button class="navbar-toggler" id="toggle-profile-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="col navbar-brand">
          
        </div>
      </div>

      <button class="navbar-toggler" type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#">Random Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">New Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
        </ul>
      </div>

    </nav>
  </div>
</header>

<!-- MAIN -->
<div class="container-fluid">
  <div class="row">

  <!-- PROFILE -->
  <div id="sidebar" class="col-md-4 mg-left_sidebar">
    <div id="profileInfo" class="d-flex flex-md-column mt-4">
      <div id="foto">
        
      </div>
      <div id="profileData" class="d-flex flex-md-column align-items-center">
        <span id="username" class="display-6 mb-3"></span>
        <span id="followers"></span>
        <span id="following"></span>
      </div>
      <div id="profileOptions" class="d-flex flex-sm-column align-items-center">
        <button type="button" class="btn btn-primary">Change Username</button>
        
        <!-- Botão do Modal-->
        <button type="button" class="btn btn-secondary" id="recomendacoes-butao" data-bs-toggle="modal" data-bs-target="#Modal">Recomendações</button>
  
      </div>
    </div>
    
  </div>

  <!-- POSTS -->
  <main id="main" class="col-md">


  </main>

  </div>
</div>


<!-- JAVASCRIPT -->
<script>
      var sidebar = document.querySelector("#sidebar")
      var container = document.querySelector("#main")
      document.querySelector("#toggle-profile-button").addEventListener("click", () => {
          container.classList.toggle("active-nav")
          sidebar.classList.toggle("active-cont")
      })
</script>
    
    
    <!-- Modal -->
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Recomendações</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <!-- Content -->
          <div class="modal-body" id="to-follow-modal-content">

            <!-- Each item -->


            <div class="text-center" id="spiner-splendi">
              <div class="spinner-border" role="status" id="spiner-itself">
              </div>
            </div>

            <!-- Exemplo de sugestão
            <div class="d-flex text-muted pt-3">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                <p class="pb-3 mb-0 small lh-sm border-bottom">
                  <strong class="d-block text-gray-dark">@username</strong>
                  Some representative placeholder content, with some information about this user. Imagine this being some sort of status update, perhaps?
                </p>
            </div>

            -->

            <!-- Spiner splandi garai
            <div class="text-center">
                <div class="spinner-border" role="status">
                </div>
            </div>
            -->

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}