{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Meu Perfil</title>
<script type="text/javascript" src="{% static 'profiles/profiles_my.js'%}"></script>
<link rel="stylesheet" href="{% static 'profiles/profiles_my.css' %}">
{% endblock %}

{% block body %}
<!-- HEADER -->
<header class="sticky-lg-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container">

      <button class="navbar-toggler collapsed d-block" id="expandProfile" type="button" data-bs-toggle="collapse"
        data-bs-target="#profile" aria-controls="profile" aria-expanded="false" aria-label="Show profile">
        <img src="{% static 'profiles/assets/list.svg' %}" alt="Show Profile">
      </button>

      <h1 class="navbar-brand fw-bold d-none d-sm-block" id="title">
        <a href="#">Markdown Post</a>
      </h1>

      <button class="navbar-toggler collapsed" id="expandNavbar" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbar-options" aria-controls="navbar-options" aria-expanded="false"
        aria-label="Toggle navigation">
        <img src="{% static 'profiles/assets/arrow-bar-down.svg' %}" alt="Expand">
      </button>

      <div class="navbar-collapse collapse" id="navbar-options">
        <ul class="navbar-nav text-end">
          <li class="nav-item">
            <a href="#" class="nav-link">HOME</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">RANDOM PAGE</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">NEW POST</a>
          </li>
          <li class="nav-item">
            <button class="btn mt-lg-auto mt-2" id="btn-logout">LOGOUT</button>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>

<!-- MAIN -->
<main>

  <div class="container">
    <div class="row">
      <section id="profile" class="col-lg-3 collapse show">
        <h2 class="text-center display-6 fw-normal">PROFILE</h2>
        <div class="d-flex flex-lg-column flex-column flex-sm-row justify-content-between align-items-center">

          <div class="d-flex flex-column mt-lg-2 mt-2 mx-sm-2">
            <div id="foto">

            </div>
          </div>

          <div class="d-flex flex-column mt-lg-2 mt-2 mx-sm-2">
            <span id="username" class="align-self-center fs-5"></span>
            <div class="d-flex justify-content-around">
              <span style='margin-right:5px' id="followers"></span>
              <span> | </span>
              <span style='margin-left:5px' id="following"></span>
            </div>
            <span id="userbio" class="font-monospace lh-sm"></span>
          </div>

          <div class="d-flex flex-column mt-lg-2 mt-2 me-sm-2" id="profileOptions">
            <button>EDIT PROFILE</button>
            <button type="button" class="" id="recomendacoes-butao" data-bs-toggle="modal"
              data-bs-target="#Modal">SUGGESTION</button>
          </div>

        </div>
      </section>

      <section id="posts" class="col">
        <!--list group💡-->
        <h2>POSTS</h2>
        <div>
          <table id="post-table">
            <tr>
              <th>IMG</th>
              <th>@user</th>
              <th>Post#1</th>
            </tr>
            <tr>
              <th>IMG</th>
              <th>@user</th>
              <th>Post#2</th>
            </tr>
          </table>
        </div>
      </section>
    </div>
  </div>

</main>


<footer class="mt-auto">
  <div class="container">
    <h2>FOOTER</h2>
  </div>
</footer>


<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Recomendações</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Content -->
      <div class="modal-body" id="to-follow-modal-content">

        <!-- Each item -->


        <div class="text-center" id="spiner-splendi">
          <div class="spinner-border" role="status" id="spiner-itself">
          </div>
        </div>

        <!-- Exemplo de sugestão
            <div class="d-flex text-muted pt-3">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                <p class="pb-3 mb-0 small lh-sm border-bottom">
                  <strong class="d-block text-gray-dark">@username</strong>
                  Some representative placeholder content, with some information about this user. Imagine this being some sort of status update, perhaps?
                </p>
            </div>

            -->

        <!-- Spiner splandi garai
            <div class="text-center">
                <div class="spinner-border" role="status">
                </div>
            </div>
            -->

      </div>


    </div>
  </div>
</div>

{% endblock %}