{% extends "base.html" %}
{% load static %}

{% load i18n %}


{% block head %}
  <title>SignUp</title>
  <link rel="stylesheet" href="{% static 'form_css.css' %}">
{% endblock %}

{% block body %}

<main class="container">
  <div class="row">
    <div class="col">
      
      <h1 class="display-1 text-center">{% trans "Sign Up" %}</h1>

      
      <div class="text-center">
        
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="primaryAction btn btn-secondary" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>

      </div>


    </div>
  </div>
</main>

{% endblock %}
