{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block head %}
    <title>encyclopedia</title>
{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-indigo">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Wiki</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'random' %}">Random Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'new_post' %}">New Page</a>
            </li>
          </ul>
          <form class="d-flex" action="wiki/search">
            <input class="form-control me-2" type="search" placeholder="Search" name="q" aria-label="Search">
            <button class="btn" type="submit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="18" height="18"><path fill="white" fill-rule="evenodd" d="M11.5 7a4.499 4.499 0 11-8.998 0A4.499 4.499 0 0111.5 7zm-.82 4.74a6 6 0 111.06-1.06l3.04 3.04a.75.75 0 11-1.06 1.06l-3.04-3.04z"></path></svg></button>
          </form>
        </div>
      </div>
    </nav>
    
    <h1>Posts</h1>
    <ul>
        {% for post in post_info %}
            <li><a href="{% url 'title' post.title %}">{{post.title}} </a></li>
        {% endfor%}
    </ul>
    <div id='postagem'></div>

    <script type="text/javascript" src="{% static 'encyclopedia/index.js'%}"></script>
    <link rel="stylesheet" href="{% static 'encyclopedia/main.css'%}">
{% endblock %}
