{% extends "encyclopedia/layout.html" %}
{% block head %}
    <title>encyclopedia</title>
{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Wiki</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'random' %}">Random Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'new_post' %}">New Page</a>
            </li>
          </ul>
          <form class="d-flex" action="wiki/search">
            <input class="form-control me-2" type="search" placeholder="Search" name="q" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    
    <h1>Posts</h1>
    <ul>
        {% for post in post_info %}
            <li><a href="{% url 'title' post.title %}">{{post.title}} </a></li>
        {% endfor%}
    </ul>
{% endblock %}