{% extends "encyclopedia/layout.html" %}
{% load static %}


{% block head %}
    <title>encyclopedia</title>
    <link rel="stylesheet" href="{% static 'encyclopedia/main.css'%}">
{% endblock %}

{% block body %}
    <div class="container">
        <form method="POST" class="px-5 py-4">
            {% csrf_token %}
            
            <div class="row text-light">

                <div class="mb-3 fs-2">
                    <label class="form-label" for="title">TITLE</label>
                    <input type="text" id="title" maxlength="100" class="form-control form-control-lg" autocomplete="off" placeholder="Title" name="title">
                </div>
                
                <div class="mb-3 fs-3">
                    <label class="form-label" for="textarea">POST</label>
                    <textarea id="textarea" class="form-control" rows="10" placeholder="Enter text to save" name="post_info"></textarea>
                </div>
                
                <div class="mb-3">
                    <button class="btn bnt-lg btn-outline-light position-relative start-50 translate-middle-x w-50" type="submit">Submit</button>
                </div>
                
            </div>

        </form>
    </div>
        
{% endblock %}