{% extends "encyclopedia/layout.html" %}


{% block head %}
    <title>encyclopedia</title>
{% endblock %}

{% block body %}
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" aria-describedby="title">
        </div>
        <div class="form-floating">
            <label>Title</label>
            <textarea class="form-control" name="post_info"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>
{% endblock %}