{% extends "encyclopedia/layout.html" %}
{% load static %}


{% block head %}
    <title>encyclopedia</title>
    <link rel="stylesheet" href="{% static 'encyclopedia/main.css'%}">
{% endblock %}

{% block body %}
    
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <br>
            <div class="col-12">
                <input type="text" class="form-control" id="title" placeholder="Title" name="title">
            </div>
            <br>
            
            <div class="form-floating">
                <textarea id="textarea" class="form-control" rows="10" placeholder="Enter text to save" style="height: 20%" name="post_info"></textarea>
                <label for="floatingTextarea2">Post</label>
            </div>
            
            <br>
            <div class="d-grid gap-2">
                <button class="btn btn-outline-light" type="submit">Submit</button>
            </div>
          
        </form>
    </div>
    
    
{% endblock %}