{% extends "base.html" %}
{% load static %}

{% block head %}
	<title>encyclopedia</title>
	<script type="text/javascript" src="{% static 'posts/post.js'%}"></script>
	<script type="text/javascript" src="{% static 'profiles/profiles_my.js'%}"></script>
	<link rel="stylesheet" href="{% static 'posts/user_post.css' %}">
{% endblock %}

{% block body %}
	<div id="tituloJS"  style="display: none;">{{titulo}}</div>
	<div id="profileJS" style="display: none;">{{perfil}}</div>

	<!-- HEADER -->
	<header class="sticky-md-top">
		<nav class="navbar navbar-expand-lg">
		<div class="container">

			<button class="navbar-toggler collapsed d-block" id="expandProfile" type="button" data-bs-toggle="collapse"
			data-bs-target="#profile" aria-controls="profile" aria-expanded="false" aria-label="Show profile">
			<img src="{% static 'profiles/assets/list.svg' %}" alt="Show Profile">
			</button>

			<h1 class="navbar-brand fw-bold d-none d-sm-block" id="title">
				<a href="{% url 'profiles:my-profile-view' %}">Markdown Post</a>
			</h1>

			<button class="navbar-toggler collapsed" id="expandNavbar" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbar-options" aria-controls="navbar-options" aria-expanded="false"
			aria-label="Toggle navigation">
			<img src="{% static 'profiles/assets/arrow-bar-down.svg' %}" alt="Expand">
			</button>

			<div class="navbar-collapse collapse" id="navbar-options">
			<ul class="navbar-nav text-end">
				<li class="nav-item">
					<a href="{% url 'mainpage:index'%}" class="nav-link">HOME</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">RANDOM PAGE</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'posts:new_post' %}" class="nav-link">NEW POST</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'account_logout' %}"><button class="btn mt-lg-auto mt-2" id="btn-logout">LOGOUT</button></a>
				</li>
			</ul>
			</div>

		</div>
		</nav>
	</header>

  <!-- MAIN -->
  <main>

	<div class="container">
	  <div class="row">

		<section id="profile" class="col-lg-3 collapse balacobaco">
			<h2 class="text-center display-6 fw-normal">PROFILE</h2>
			<div class="d-flex flex-lg-column flex-column flex-md-row justify-content-between align-items-center">
	
			  <div class="d-flex flex-column mt-lg-2 mt-2 mx-sm-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
				
				<div id="foto">
				  <!-- js injection -->
	
				</div>
	
			  </div>
			  <hr class="w-100"><br>
	
			  <div class="d-flex flex-column mx-3 mx-lg-auto">
				<span id="username" class="align-self-center fs-5"></span>
				<div id="Infos" class="d-flex justify-content-around">
				  <span id="followers"></span>
				  <span class="mx-2">|</span>
				  <span id="following"></span>
				</div>
				<span id="userbio" class="font-monospace lh-sm"></span>
			  </div>
	
			  <div class="d-flex flex-column" id="profileOptions">
				<button id="recomendacoes-butao" data-bs-toggle="modal" data-bs-target="#suggestionsModal" >SUGGESTIONS</button>
			  </div>
	
			</div>
		</section>

		<section id="posts" class="col balacobaco">
			
			<h2 id="postTitle" class="text-center display-2">{{titulo}}</h2>
			<div class="d-flex justify-content-around align-items-center">
				<p class="small mb-0">Data de publicação: 00/00/00</p>
				<h3 class="fs-5 mb-0">@{{perfil}}</h3>
				<p class="small mb-0">Última modificação: 00/00/00</p>
			</div>				

			<hr>

			<div id="postContent" class="px-2">
				<!-- CONTENT -->
			</div>

		</section>

		<div id="postOptions" class="d-flex justify-content-center">
			<button id="btn-postEdit" class="btn me-2 px-5 bg-primary"><strong>Editar</strong></button>
			<button id="btn-postDelete" class="btn ms-2 px-5 bg-danger"><strong>Excluir</strong></button>
		</div>

	  </div>
	</div>

  </main>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="staticBackdropLabel">Edit</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  <!-- Coloca aqui o interior do modal-->
		  <div class="input-group mb-3">
			<span class="input-group-text" id="basic-addon1">@</span>
			<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
		  </div>

		  <div class="input-group mb-3">
			<label class="input-group-text" for="inputGroupFile01">Avatar</label>
			<input type="file" class="form-control" id="inputGroupFile01">
		  </div>

		  <div class="input-group">
			<span class="input-group-text">Bio</span>
			<textarea class="form-control" aria-label="With textarea"></textarea>
		  </div>

		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary">Understood</button>
		</div>
	  </div>
	</div>
  </div>

  <!-- FOOTER -->
  <footer class="mt-auto">
	<div class="container">
	  <div class="row">

		<div class="col">
		  <h4>&copy; <script>document.write(new Date().getFullYear())</script> All Rights Reserved</h4>
		</div>
		<div class="col">
		  <a href="https://github.com/nicolasfvz/PI2021-MarkdownPost" target="_blank">
			<img class="float-end" src="{% static 'profiles/assets/github.svg' %}" alt="GitHub">
		  </a>
		</div>

	  </div>
	</div>
  </footer>

{% endblock %}
